.errorView {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.errorImg {
  width: 50vw;
}
.title {
  font-size: 10vw;
}

.initView {
  display: flex;
  justify-content: center;
  align-items: center;
}
.startButtons {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.button {
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #000000;
  box-sizing: border-box;
  color: #ffffff;
  width: 30vw;
  height: 10vh;
  font-size: 4em;
  text-decoration-line: none;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.waiterView {
  display: flex;
  flex-wrap: wrap;
}
.tableView {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
