.Tabview {
  display: flex;
  flex-wrap: wrap;
}
.Table {
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Chathura", sans-serif;
    width: 20vw;
    height: 15vh;
    font-size: 5vw;
    text-decoration-line: none;
    display: flex;
    justify-content: center;
    
  }
  