*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./images/wood-material-background-wallpaper-texture-concept-1636201.jpg");
  font-family: "Chathura", sans-serif;
  color: white; 
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
} 
